# Folder ignores
AncillaryData/
SDis_Self-Training/Evaluation/
SDis_Self-Training/Shapefiles/
SDis_Self-Training/Statistics/
SDis_Self-Training/Temp/
SDis_Self-Training/TempCSV/
SDis_Self-Training/TempRaster/


